version: '3.8'

services:
  oneday-server:
    image: chanwooong/oneday-server:latest  # 님 도커 아이디/이미지명
    container_name: my-backend-server
    restart: always
    # 리눅스/EC2에서는 host 모드 추천 (DB 접속 용이)
    network_mode: "host"

    # 환경 변수 주입 (여기가 핵심!)
    environment:
      - TZ=Asia/Seoul
      # .env 파일에서 값을 읽어와서 여기에 꽂아줍니다.
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PW}